/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.navbar {
  // border: .1rem solid salmon;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 100%;
  z-index: 2;

  .navbarContainer {
    background-color: $darkBlue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    font-family: Arial, sans-serif;
    position: absolute;
    border-radius: 2rem;
    width: 90%;
    max-width: 133.4rem;
    // width: 100%;

    .navbarLeft {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border: .1rem solid salmon;

      .navbarLogo {
        h1 {
          font-size: 2.4rem;
          font-weight: bold;
          margin: 0;
          color: white;
        }

        a {
          text-decoration: none;
          color: white;
        }
      }

      .navbarLinks {
        ul {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin: 0 1.5rem;

            a {
              color: white;
              text-decoration: none;
              font-size: 16px;
              // font-weight: bold;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .navbarActions {
      display: flex;
      align-items: center;

      .navbar-signin {
        color: white;
        font-size: 16px;
        text-decoration: none;
        margin-right: 15px;

        &:hover {
          text-decoration: underline;
        }
      }

      .navbarSearch,
      .navbarMenu {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;

        i {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
        }
      }
    }
  }
}