/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 25px 0px;
$boxShadowPrimary: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$bgColorPrimary: #e7ebec;