/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.branchShop {
  margin-top: 5rem;
  margin-bottom: 5rem;
  color: $darkBlue;

  .heading {
    text-align: center;
    font-size: 3.6rem;
  }

  .boxContainer {

    .box {
      padding: 3rem 2rem;
      background: #fff;
      outline: var(--outline);
      outline-offset: -1rem;
      text-align: center;
      box-shadow: var(--box-shadow);
      border-radius: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 133.4rem;
      margin: 1rem auto;

      .content {
        padding: 2rem 1rem;
        font-size: 1.4rem;
        width: 36rem;

        h1 {}

        p {
          color: $colorGrey;
        }
      }
    }
  }
}