/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../styles/responsive.scss';
@import '../styles/variable.scss';

.contact {
  border: .1rem solid salmon;
  padding-top: 12rem;
  padding-bottom: 8rem;

  .wrapContainer {
    .row1 {
      display: grid;
      grid-template-columns: 2fr 1fr;
      color: #0A5286;
      gap: 2rem;

      @media (max-width: 430px) {
        grid-template-columns: 1fr;
        gap: 1rem;
      }

      // height: 20rem;


      .colLeftRow1 {
        border-radius: 1rem;
        background: #cfdde8;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        // align-items: center;

        h1 {
          font-size: 2.4rem;
          color: #0A5286;

          @media (max-width: 430px) {
            text-align: center;
          }
        }

        p {
          font-size: 1.6rem;

          @media (max-width: 430px) {
            text-align: center;
          }
        }
      }

      .colRightRow1 {
        border-radius: 1rem;
        background: #cfd5e8;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 2.8rem;
        }

        p {
          font-size: 1.6rem;
          text-align: center;
        }



        .buttonCall {
          display: flex;
          gap: 1rem;

          button {
            margin-top: 1rem;
            padding: 1rem;
            border: transparent;
            border-radius: .5rem;
            background: #0A5286;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    .row2 {
      margin: 0 auto;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;

      @include phone {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        row-gap: 2rem;
      }

      .colLeftRow2 {
        // border: .1rem solid salmon;
        grid-column: span 1;
        // height: 50rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        background: #d2e8cf;
        color: #0A5286;

        .title {
          display: flex;
          align-items: center;
          background: #d2e8cf;
          color: #0A5286;
          gap: 2rem;

          .boxImage {
            width: 7rem;
            height: 7rem;
            overflow: hidden;
            border-radius: 50%;
            border: .1rem solid #fff;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .groupTitle {

            h1 {
              font-size: 2rem;
            }

            p {
              font-size: 1.2rem;
            }
          }
        }

        .address {
          h3 {
            font-weight: 600;
            font-size: 1.6rem;
          }

          p {
            font-size: 1.4rem;
          }
        }

        .line {
          border: .01rem solid #0A5286;
          opacity: .2;
        }

        .hours {
          h3 {
            font-weight: 600;
            font-size: 1.6rem;
          }

          table {
            // border: .1rem solid green;
            // padding: 1rem;
            width: 100%;

            tbody {

              tr {
                margin: 1rem 0;

                td {
                  // border: .1rem solid salmon;
                  font-size: 1.4rem;
                  padding: .5rem 0;
                }
              }
            }
          }
        }

        .contact {
          h3 {
            font-size: 1.6rem;
          }

          table {
            // border: .1rem solid green;
            width: 100%;

            tbody {
              tr {
                td {
                  // border: .1rem solid salmon;
                  font-size: 1.4rem;
                  padding: .3rem 0;

                  a {
                    color: #0A5286;
                  }
                }
              }
            }
          }
        }
      }

      .colRightRow2 {
        // border: .1rem solid salmon;
        grid-column: span 3;
        // height: 50rem;
        border-radius: 1rem;
        overflow: hidden;


        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}