/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.footer {
  color: #fff;
  background-color: #0b5186;
  padding: 4rem 0;

  .wrapContainer {

    .boxFooter {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .footer1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        @media (max-width: 799px) {
          grid-template-columns: repeat(2, 1fr);

        }

        @media (max-width: 455px) {
          grid-template-columns: repeat(1, 1fr);

        }

        .boxItemFooter1 {
          @media (max-width: 455px) {
            text-align: center;
          }

          &.boxItem1 {
            .title {
              // text-align: center;
              font-size: 2.4rem;
            }

            .manage {
              margin-top: 1.5rem;
              font-size: 1.4rem;
            }

            .store {
              margin-top: 1rem;
              font-size: 1.4rem;
              font-weight: 600;
            }

            .address {
              margin-top: 1rem;
              font-size: 1.2rem;
            }

            .sosmed {
              margin-top: 2rem;
              display: flex;
              gap: 1rem;

              @media (max-width: 455px) {
                justify-content: center;
              }

              .icon {
                font-size: 2.4rem;
              }
            }
          }

          &.boxItem2 {

            .headerLink {
              font-size: 2.4rem;
            }

            ul {
              margin-top: 1.5rem;
              display: flex;
              flex-direction: column;
              gap: 1rem;

              li {
                list-style: none;

                a {
                  color: #fff;
                  font-size: 1.6rem;
                }
              }
            }
          }

          &.boxItem3 {

            // display: flex;
            // justify-content: center;
            @media (max-width: 455px) {
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
            }

            .titlePembayaran {
              font-size: 2.4rem;
            }

            .imagePembayaran {
              margin-top: 2rem;
              // border: .1rem solid salmon;
              border-radius: 1rem;
              overflow: hidden;
              // position: relative;
              height: 4rem;
              max-width: fit-content;



              img {
                // margin-top: 2rem;
                width: 100%;
                height: 100%;
                // position: absolute;
              }
            }
          }




        }
      }

      .footer2 {
        margin-top: 2rem;
        font-size: 1.4rem;
        text-align: center;

        .kebijakan {}

        .titleNote {
          margin-top: 2rem;
          font-size: 1.8rem;
        }

        .note {
          margin-top: 1rem;
        }
      }

      .footer3 {
        .titleFooter3 {
          font-size: 1.8rem;
          text-align: center;
        }

        .boxFooter3 {
          margin-top: 2rem;
          display: flex;
          justify-content: center;
          gap: 2rem;

          img {
            width: 7rem;
            height: 7rem;
          }
        }
      }

      .footer4 {
        background-color: #fff;
        border-radius: 1rem;
        color: #0b5186;
        padding: 1rem 0;
        margin-top: 2rem;

        .credit {
          font-size: 1.4rem;
          text-align: center;

          a {
            color: #0b5186;
            font-weight: 600;
          }
        }
      }
    }
  }
}