/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.hero {
  // border: .1rem solid salmon;
  padding-top: 12rem;
  padding-bottom: 8rem;

  .wrapContainer {
    .boxPrimary {
      margin: 0 auto;
      // margin-top: 10rem;
      width: 100%;
      // height: 50rem;
      // background-color: white;
      // background: linear-gradient(90deg, rgb(226, 233, 239) 0%, rgb(200, 220, 237) 63%, rgb(165, 201, 232) 100%);
      // background: image('/assets/image/about-indopowder-rev-1.jpg');
      background: url(/assets/images/background-indopowdertangsel-2.jpg);
      // background: rgb(165, 201, 232);
      // background: rgb(226, 233, 239);

      border-radius: 2rem;
      // box-shadow: $boxShadowPrimary;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include tablet {
        grid-template-columns: repeat(1, 1fr);
        // background: linear-gradient(150deg, rgba(19, 144, 176, 1) 0%, rgba(29, 253, 194, 1) 83%, rgba(69, 251, 252, 1) 100%);
        // height: 120rem;
      }

      .colLeft {
        // border: .1rem solid salmon;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;
        // color: #6a6969;
        color: #0b5186;

        h1 {
          font-size: 3.8rem;
          line-height: 4rem;
        }

        h3 {
          font-size: 2rem;
          font-weight: 400;
        }

        .rating {
          display: flex;
          font-size: 1.4rem;
          // border: .1rem solid salmon;

          .icon {
            color: goldenrod;
          }

          p {
            margin-left: .5rem;
            font-size: 1.6rem;
          }
        }

        .btnCta {
          font-size: 1.6rem;
          padding: 1rem 2rem;
          border-radius: 1rem;
          // border: none;
          // background-color: #0b5186;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          max-width: 22rem;
          color: #0b5186;
          border: .2rem solid #0b5186;
          background: #fff;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .colRight {
        // border: .1rem solid salmon;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 2rem;

        .boxRight {
          // border: .1rem solid salmon;
          border-radius: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .boxRight.boxRight1 {
          grid-column: span 4;

          @include tablet {
            display: none;
          }

          h2 {
            font-size: 1.8rem;
            color: $darkBlue;
            text-shadow: $boxShadowPrimary;
          }

          // @include tablet {
          //   grid-column: span 3;
          // }

        }

        .boxRight.boxRight2 {
          // grid-row: span 2;
          grid-column: span 2;


          @include tablet {
            // grid-column: span 4;
            display: none;
          }

          .imageWrapper {
            position: relative;
            width: 100%;
            height: 100%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .animationBoba1 {
            width: 25rem;
          }
        }

        .boxRight.boxRight3 {
          grid-column: span 2;
          // background-color: wheat;
          // border: .1rem solid salmon;
          height: 30rem;

          @include tablet {
            grid-column: span 4;
            // padding: 2rem;
          }

          .imageWrapper {
            position: relative;
            width: 100%;
            height: 100%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;

              @include tablet {
                object-fit: contain;
              }
            }
          }

          .animationBoba2 {
            width: 100%;
            // border: .1rem solid salmon;
          }
        }

        .boxRight.boxRight4 {
          margin-top: 3rem;
          overflow: hidden;
          height: 5rem;
          grid-column: span 4;
          // width: 15rem;
          // margin: 0 auto;

          a {
            // border: .1rem solid green;
            margin: 1rem;
            background-color: #fff;
            border-radius: 1rem;
            overflow: hidden;
            width: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 10rem;
            }
          }

        }


      }
    }

    .boxSecondary {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;

      .box {
        height: 10rem;
        background-color: white;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $boxShadowPrimary;
      }

      .box.box1 {
        grid-column: span 2;
        grid-row: span 2;
        height: 100%;
      }
    }
  }
}