/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.floatingCart {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  display: none;
  // box-shadow: $boxShadowPrimary;

  // z-index: 99;

  &.active {
    display: initial;
  }

  .boxFloatingCart {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    padding: 3rem;
    // border: .1rem solid salmon;
    background: #fff;
    color: #0A5286;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      font-size: 2rem;
      position: absolute;
      font-weight: 600;
      color: white;
      top: -2rem;
      left: -1rem;
      border: .1rem solid salmon;
      padding: 1rem;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
    }

    .icon {
      font-size: 3rem;
    }
  }
}