/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.floatingCart {
  position: fixed;
  bottom: 3rem;
  // right: 5rem;
  display: none;
  width: 100%;
  // background-color: salmon;
  // margin: 0 auto;
  display: flex;
  justify-content: center;
  // box-shadow: $boxShadowPrimary;

  z-index: 99;

  &.active {
    display: initial;
  }

  .boxFloatingCart {
    display: none;

    &.active {
      display: initial;
      height: 6rem;
      width: 80%;
      border-radius: 1rem;
      padding: 3rem;
      background: #0A5286;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0 auto;
      gap: 1rem;
      cursor: pointer;
    }

    .productCount {
      font-size: 2rem;
      position: absolute;
      font-weight: 600;
      color: white;
      // top: 0rem;
      right: 1rem;
      border: .1rem solid salmon;
      padding: 1rem;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
    }

    .icon {
      font-size: 3rem;
    }

    .checkout {
      font-size: 1.8rem;
    }
  }
}