/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
Description: Indopowder Tangsel is a dynamic e-commerce website for powder drink distributors, built with Next.js, React.js, and TypeScript. It offers a visually engaging experience for users to explore and purchase a variety of powder drink products.
*/

@import '../styles/responsive.scss';
@import '../styles/variable.scss';

.productsPage {
  margin-top: 3rem;

  .boxProductsPage {
    $minColumn: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minColumn, 1fr));
    gap: .5rem;
    margin: 0 auto;
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;

    @include phone {
      $minColumn: 17rem;
      grid-template-columns: repeat(auto-fit, minmax($minColumn, 1fr));
    }
  }
}

.toastNotify {
  font-size: 1.8rem;
}